body{
    display: flex;
      justify-content: center;
      background: #7FE1B4;
}

#container{
  position: relative;
  top: 100px;
  width: 530px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px
}

ul {
  position: relative;
  margin-bottom: 13px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: left;
}

a {
  text-decoration: none;
  background: #FFF;
  padding: 15px;
  margin-bottom: -2px;
}

a:hover{
  background: #EDAB37;
}
